@media all and (min-width: 1400px) {
  body {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
    "menu content content content content content content content content content";
  }



  menu.big {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    padding: 2rem 1rem;
    background-color: #ffffff;
    align-content: flex-start;
  }
  menu.tiny {
    display: none;
  }
  img.imgResponsive {
    position: relative;
    width: 100%;
    height: auto;
    padding-bottom: 1rem;
  }

  a.menuItem {
    text-decoration: none;
    padding: 0.5rem 1rem;
  }



  div.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
    "wallet profile"
    "rT rT";
    grid-gap: 2rem;
    padding: 2rem;
    background-color: #e3e4eb;
    overflow-y: auto;
  }



  div.wallet {
    border-radius: 1rem;
    background-color: #ffffff;
    padding: 1rem;
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 1rem;
    grid-template-areas:
    "title title"
    "bal bal"
    "bal bal"
    "bal bal"
    "bal bal"
    "addBtn sendBtn";
  }
  h1.title {
    justify-self: start;
  }
  p.balance {
    font-size: 75px;
    justify-self: center;
    align-self: center;
  }
  a.button {
    background-color: #7dd076;
    border-radius: 0.5rem;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    justify-self: center;
    align-self: center;
    padding: 0.3rem 1rem;
  }



  div.profile {
    border-radius: 1rem;
    background-color: #ffffff;
    padding: 1rem;
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 1rem;
    grid-template-areas:
    "title title title"
    "lU lU lU"
    "lU lU lU"
    "lU lU lU"
    "email fN lN"
    "pB pB pB";
  }
  i.logoUser {
    font-size: 150px;
    justify-self: center;
    align-self: center;
  }
  p.profileText {
    font-weight: bold;
    align-self: center;
    justify-self: center;
  }




  a.recentTransfer {
    border-radius: 1rem;
    background-color: #ffffff;
    padding: 1rem;
    text-decoration: none;
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 1rem;
    grid-template-areas:
    "title"
    "tF"
    "tF"
    "tF"
    "tF"
    "tF";
  }
  table.transfers {
    border-collapse: collapse;
    align-self: start;
  }
  td,th {
    text-align: left;
    padding: .5rem;
    border: 1px solid #e3e4eb;
  }
}


@media all and (min-width: 1200px) and (max-width: 1400px) {
  body {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
    "menu content content content content content content content content content";
  }



  menu.big {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    padding: 2rem 1rem;
    background-color: #ffffff;
    align-content: flex-start;
  }
  menu.tiny {
    display: none;
  }
  img.imgResponsive {
    position: relative;
    width: 100%;
    height: auto;
    padding-bottom: 1rem;
  }

  a.menuItem {
    text-decoration: none;
    padding: 0.5rem 1rem;
  }



  div.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
    "wallet profile"
    "rT rT";
    grid-gap: 2rem;
    padding: 2rem;
    background-color: #e3e4eb;
    overflow-y: auto;
  }



  div.wallet {
    border-radius: 1rem;
    background-color: #ffffff;
    padding: 1rem;
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 1rem;
    grid-template-areas:
    "title title"
    "bal bal"
    "bal bal"
    "bal bal"
    "bal bal"
    "addBtn sendBtn";
  }
  h1.title {
    justify-self: start;
  }
  p.balance {
    font-size: 75px;
    justify-self: center;
    align-self: center;
  }
  a.button {
    background-color: #7dd076;
    border-radius: 0.5rem;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    justify-self: center;
    align-self: center;
    padding: 0.3rem 1rem;
  }



  div.profile {
    border-radius: 1rem;
    background-color: #ffffff;
    padding: 1rem;
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 1rem;
    grid-template-areas:
    "title title title"
    "lU lU lU"
    "lU lU lU"
    "lU lU lU"
    "email fN lN"
    "pB pB pB";
  }
  i.logoUser {
    font-size: 150px;
    justify-self: center;
    align-self: center;
  }
  p.profileText {
    font-weight: bold;
    align-self: center;
    justify-self: center;
  }




  a.recentTransfer {
    border-radius: 1rem;
    background-color: #ffffff;
    padding: 1rem;
    text-decoration: none;
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 1rem;
    grid-template-areas:
    "title"
    "tF"
    "tF"
    "tF"
    "tF"
    "tF";
  }
  table.transfers {
    border-collapse: collapse;
    align-self: start;
  }
  td,th {
    text-align: left;
    padding: .5rem;
    border: 1px solid #e3e4eb;
  }
}


@media all and (min-width: 992px) and (max-width: 1200px) {
  body {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
    "menu content content content content content content content content content";
  }



  menu.big {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    padding: 2rem 1rem;
    background-color: #ffffff;
    align-content: flex-start;
  }
  menu.tiny {
    display: none;
  }
  img.imgResponsive {
    position: relative;
    width: 100%;
    height: auto;
    padding-bottom: 1rem;
  }

  a.menuItem {
    text-decoration: none;
    padding: 0.5rem 1rem;
  }



  div.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
    "wallet profile"
    "rT rT";
    grid-gap: 2rem;
    padding: 2rem;
    background-color: #e3e4eb;
    overflow-y: auto;
  }



  div.wallet {
    border-radius: 1rem;
    background-color: #ffffff;
    padding: 1rem;
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 1rem;
    grid-template-areas:
    "title title"
    "bal bal"
    "bal bal"
    "bal bal"
    "bal bal"
    "addBtn sendBtn";
  }
  h1.title {
    justify-self: start;
  }
  p.balance {
    font-size: 75px;
    justify-self: center;
    align-self: center;
  }
  a.button {
    background-color: #7dd076;
    border-radius: 0.5rem;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    justify-self: center;
    align-self: center;
    padding: 0.3rem 1rem;
  }



  div.profile {
    border-radius: 1rem;
    background-color: #ffffff;
    padding: 1rem;
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 1rem;
    grid-template-areas:
    "title title title"
    "lU lU lU"
    "lU lU lU"
    "lU lU lU"
    "email fN lN"
    "pB pB pB";
  }
  i.logoUser {
    font-size: 150px;
    justify-self: center;
    align-self: center;
  }
  p.profileText {
    font-weight: bold;
    align-self: center;
    justify-self: center;
  }




  a.recentTransfer {
    border-radius: 1rem;
    background-color: #ffffff;
    padding: 1rem;
    text-decoration: none;
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 1rem;
    grid-template-areas:
    "title"
    "tF"
    "tF"
    "tF"
    "tF"
    "tF";
  }
  table.transfers {
    border-collapse: collapse;
    align-self: start;
  }
  td,th {
    text-align: left;
    padding: .5rem;
    border: 1px solid #e3e4eb;
  }
}


@media all and (min-width: 768px) and (max-width: 992px) {
  body {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
    "menu content content content content content content content content content";
  }



  menu.big {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    padding: 2rem 1rem;
    background-color: #ffffff;
    align-content: flex-start;
  }
  menu.tiny {
    display: none;
  }
  img.imgResponsive {
    position: relative;
    width: 100%;
    height: auto;
    padding-bottom: 1rem;
  }

  a.menuItem {
    text-decoration: none;
    padding: 0.5rem 1rem;
  }



  div.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
    "wallet profile"
    "rT rT";
    grid-gap: 2rem;
    padding: 2rem;
    background-color: #e3e4eb;
    overflow-y: auto;
  }



  div.wallet {
    border-radius: 1rem;
    background-color: #ffffff;
    padding: 1rem;
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 1rem;
    grid-template-areas:
    "title title"
    "bal bal"
    "bal bal"
    "bal bal"
    "bal bal"
    "addBtn sendBtn";
  }
  h1.title {
    justify-self: start;
  }
  p.balance {
    font-size: 75px;
    justify-self: center;
    align-self: center;
  }
  a.button {
    background-color: #7dd076;
    border-radius: 0.5rem;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    justify-self: center;
    align-self: center;
    padding: 0.3rem 1rem;
  }



  div.profile {
    border-radius: 1rem;
    background-color: #ffffff;
    padding: 1rem;
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 1rem;
    grid-template-areas:
    "title title title"
    "lU lU lU"
    "lU lU lU"
    "lU lU lU"
    "email fN lN"
    "pB pB pB";
  }
  i.logoUser {
    font-size: 150px;
    justify-self: center;
    align-self: center;
  }
  p.profileText {
    font-weight: bold;
    align-self: center;
    justify-self: center;
  }




  a.recentTransfer {
    border-radius: 1rem;
    background-color: #ffffff;
    padding: 1rem;
    text-decoration: none;
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 1rem;
    grid-template-areas:
    "title"
    "tF"
    "tF"
    "tF"
    "tF"
    "tF";
  }
  table.transfers {
    border-collapse: collapse;
    align-self: start;
  }
  td,th {
    text-align: left;
    padding: .5rem;
    border: 1px solid #e3e4eb;
  }
}


@media all and (min-width: 576px) and (max-width: 768px) {
  body {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
    "menu content content content content content content content content content";
  }



  menu.big {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    padding: 2rem 1rem;
    background-color: #ffffff;
    align-content: flex-start;
  }
  menu.tiny {
    display: none;
  }
  img.imgResponsive {
    position: relative;
    width: 100%;
    height: auto;
    padding-bottom: 1rem;
  }

  a.menuItem {
    text-decoration: none;
    padding: 0.5rem 1rem;
  }



  div.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
    "wallet profile"
    "rT rT";
    grid-gap: 2rem;
    padding: 2rem;
    background-color: #e3e4eb;
    overflow-y: auto;
  }



  div.wallet {
    border-radius: 1rem;
    background-color: #ffffff;
    padding: 1rem;
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 1rem;
    grid-template-areas:
    "title title"
    "bal bal"
    "bal bal"
    "bal bal"
    "bal bal"
    "addBtn sendBtn";
  }
  h1.title {
    justify-self: start;
  }
  p.balance {
    font-size: 75px;
    justify-self: center;
    align-self: center;
  }
  a.button {
    background-color: #7dd076;
    border-radius: 0.5rem;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    justify-self: center;
    align-self: center;
    padding: 0.3rem 1rem;
  }



  div.profile {
    border-radius: 1rem;
    background-color: #ffffff;
    padding: 1rem;
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 1rem;
    grid-template-areas:
    "title title title"
    "lU lU lU"
    "lU lU lU"
    "lU lU lU"
    "email fN lN"
    "pB pB pB";
  }
  i.logoUser {
    font-size: 150px;
    justify-self: center;
    align-self: center;
  }
  p.profileText {
    font-weight: bold;
    align-self: center;
    justify-self: center;
  }




  a.recentTransfer {
    border-radius: 1rem;
    background-color: #ffffff;
    padding: 1rem;
    text-decoration: none;
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 1rem;
    grid-template-areas:
    "title"
    "tF"
    "tF"
    "tF"
    "tF"
    "tF";
  }
  table.transfers {
    border-collapse: collapse;
    align-self: start;
  }
  td,th {
    text-align: left;
    padding: .5rem;
    border: 1px solid #e3e4eb;
  }
}


@media all and (max-width: 576px) {
  body {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
    "menu content content content content content content content content content";
  }



  menu.big {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    padding: 2rem 1rem;
    background-color: #ffffff;
    align-content: flex-start;
  }
  menu.tiny {
    display: none;
  }
  img.imgResponsive {
    position: relative;
    width: 100%;
    height: auto;
    padding-bottom: 1rem;
  }

  a.menuItem {
    text-decoration: none;
    padding: 0.5rem 1rem;
  }



  div.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
    "wallet profile"
    "rT rT";
    grid-gap: 2rem;
    padding: 2rem;
    background-color: #e3e4eb;
    overflow-y: auto;
  }



  div.wallet {
    border-radius: 1rem;
    background-color: #ffffff;
    padding: 1rem;
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 1rem;
    grid-template-areas:
    "title title"
    "bal bal"
    "bal bal"
    "bal bal"
    "bal bal"
    "addBtn sendBtn";
  }
  h1.title {
    justify-self: start;
  }
  p.balance {
    font-size: 75px;
    justify-self: center;
    align-self: center;
  }
  a.button {
    background-color: #7dd076;
    border-radius: 0.5rem;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    justify-self: center;
    align-self: center;
    padding: 0.3rem 1rem;
  }



  div.profile {
    border-radius: 1rem;
    background-color: #ffffff;
    padding: 1rem;
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 1rem;
    grid-template-areas:
    "title title title"
    "lU lU lU"
    "lU lU lU"
    "lU lU lU"
    "email fN lN"
    "pB pB pB";
  }
  i.logoUser {
    font-size: 150px;
    justify-self: center;
    align-self: center;
  }
  p.profileText {
    font-weight: bold;
    align-self: center;
    justify-self: center;
  }




  a.recentTransfer {
    border-radius: 1rem;
    background-color: #ffffff;
    padding: 1rem;
    text-decoration: none;
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 1rem;
    grid-template-areas:
    "title"
    "tF"
    "tF"
    "tF"
    "tF"
    "tF";
  }
  table.transfers {
    border-collapse: collapse;
    align-self: start;
  }
  td,th {
    text-align: left;
    padding: .5rem;
    border: 1px solid #e3e4eb;
  }
}
