<!DOCTYPE html>
<html lang="en">
<head>
    <!-- LINK META DATA -->
    <meta charset="UTF-8">
    <title>PMB - Home</title>
    <meta name="description" content="PayMyBuddy est une application de transactions pour tout budget entre amis.">

    <!-- LINK CSS Styles -->
    <link rel="stylesheet" type="text/css" href="css/home.css">
    <link rel="stylesheet" type="text/css" href="css/all.css">


    <!-- LINK FONTS AND ICONS -->
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
  <menu class="big">
    <img class="imgResponsive" src="img/logo.png" alt="Logo de PayMyBuddy.">
    <a class="menuItem active" href="/"><i class="icon white fas fa-home"></i>Home</a>
    <a class="menuItem" href="/transfer"><i class="icon fas fa-exchange-alt"></i>Transfer</a>
    <a class="menuItem" href="/profile"><i class="icon fas fa-id-card"></i>Profile</a>
    <a class="menuItem" href="/friends"><i class="icon fas fa-users"></i>Friends</a>
    <a class="menuItem" href="/logoff"><i class="icon fas fa-sign-out-alt"></i>Log off</a>
  </menu>
  <menu class="tiny">
    <img class="imgResponsive" src="../static/img/logo.png" alt="Logo de PayMyBuddy.">
    <a class="menuItem active" href=""><i class="white fas fa-home"></i></a>
    <a class="menuItem" href="/transfer"><i class="fas fa-exchange-alt"></i></a>
    <a class="menuItem" href="/profile"><i class="fas fa-id-card"></i></a>
    <a class="menuItem" href="/friends"><i class="fas fa-users"></i></a>
    <a class="menuItem" href="/logoff"><i class="fas fa-sign-out-alt"></i></a>
  </menu>
  <div class="content">



    <div class="wallet">
      <h1 class="title"><i class="icon fas fa-wallet"></i> Wallet</h1>
      <p class="balance">0000,00 €</p>
      <a class="button addBtn" href="/transfer"><i class="icon fas fa-plus"></i>Add More Money</a>
      <a class="button sendBtn" href="/transfer"><i class="icon fas fa-paper-plane"></i>Send Bank Account</a>
    </div>



    <div class="profile">
      <h1 class="title"><i class="icon fas fa-id-card"></i> Profile</h1>
      <i class="logoUser fas fa-user-circle"></i>
      <p class="profileText email">email@emailHost.com</p>
      <p class="profileText fN">firstName</p>
      <p class="profileText lN">lastName</p>
      <a class="button profileBtn" href="/profile"><i class="icon fas fa-edit"></i>Edit my profile</a>
    </div>



    <a class="recentTransfer" href="/transfer">
      <h1><i class="icon fas fa-exchange-alt"></i> Recent Transfer</h1>
      <table class="transfers">
         <tr>
           <th>Collector</th>
           <th>Sender</th>
           <th>Description</th>
           <th>Amount</th>
         </tr>
         <tr>
           <td>John</td>
           <td>Bank</td>
           <td>Send money to his bank</td>
           <td>1000,00 €</td>
         </tr>
      </table>
    </a>



    <div class="bestFriends">
      <h1><i class="icon fas fa-thumbs-up"></i> Best Friends</h1>
      <table class="friends">
         <tr>
           <th>FirstName</th>
           <th>LastName</th>
           <th>Transaction's Quantity</th>
           <th>Send Again</th>
         </tr>
         <tr>
           <td>John</td>
           <td>Doe</td>
           <td>10</td>
           <td class="fB">
             <a class="friendsButton button" href="/transfer?email=john.doe@emailHost.com">Send money</a>
           </td>
         </tr>
      </table>
    </div>



  </div>

</body>
</html>
