<!DOCTYPE html>
<html lang="en">
<head>
    <!-- LINK META DATA -->
    <meta charset="UTF-8">
    <title>PMB - Transfer</title>
    <meta name="description" content="PayMyBuddy est une application de transactions pour tout budget entre amis.">

    <!-- LINK CSS Styles -->
    <link rel="stylesheet" type="text/css" href="../static/css/transfer.css">
    <link rel="stylesheet" type="text/css" href="../static/css/all.css">


    <!-- LINK FONTS AND ICONS -->
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
  <menu class="big">
    <img class="imgResponsive" src="../static/img/logo.png" alt="Logo de PayMyBuddy.">
    <a class="menuItem" href=""><i class="icon fas fa-home"></i>Home</a>
    <a class="menuItem active" href="/transfer"><i class="icon white fas fa-exchange-alt"></i>Transfer</a>
    <a class="menuItem" href="/profile"><i class="icon fas fa-id-card"></i>Profile</a>
    <a class="menuItem" href="/friends"><i class="icon fas fa-users"></i>Friends</a>
    <a class="menuItem" href="/logoff"><i class="icon fas fa-sign-out-alt"></i>Log off</a>
  </menu>
  <menu class="tiny">
    <img class="imgResponsive" src="../static/img/logo.png" alt="Logo de PayMyBuddy.">
    <a class="menuItem" href=""><i class="fas fa-home"></i></a>
    <a class="menuItem active" href="/transfer"><i class="white fas fa-exchange-alt"></i></a>
    <a class="menuItem" href="/profile"><i class="fas fa-id-card"></i></a>
    <a class="menuItem" href="/friends"><i class="fas fa-users"></i></a>
    <a class="menuItem" href="/logoff"><i class="fas fa-sign-out-alt"></i></a>
  </menu>
  <div class="content">



    <div class="userToUser">
      <h1 class="title"><i class="icon fas fa-exchange-alt"></i>Friend Transfer</h1>
      <form class="formUser" action="transfer.html" method="post">
        <label class="friendLabel" for="friend">Choose a friend :</label>
        <select class="friendInput" id="friend" name="email">
          <option value="">No friend selected</option>
          <option value="tyler.hawks@email.com">Tyler Hawks</option>
          <option value="john.doe@email.com">John Doe</option>
          <option value="tom.hanks@email.com">Tom Hanks</option>
        </select>
        <label class="descLabel" for="desc">Add a description :</label>
        <input class="descInput" type="text" id="desc" name="desc" value="">
        <label class="amountLabel" for="amount">Add an amount</label>
        <input class="amountInput" type="number" id="amount" name="amount" value="">
        <button class="button" type="submit" name="button">Send Money</button>
      </form>
    </div>



    <div class="userBank">
      <h1 class="title"><i class="icon fas fa-exchange-alt"></i>Bank Transfer</h1>
      <form class="formBank" action="transfer.html" method="post">
        <p class="selectLabel">Select a mode :</p>
        <label class="friendLabel" for="select"></label>
        <select class="friendInput" id="select" name="mode">
          <option value="">No mode select</option>
          <option value="BTU">Bank To User</option>
          <option value="UTB">User To Bank</option>
        </select>
        <label class="amountLabel" for="amount">Add an amount</label>
        <input class="amountInput" type="number" id="amount" name="amount" value="">
        <button class="button" type="submit" name="button">Send Money</button>
      </form>
    </div>



    <div class="allTransfers">
      <h1 class="title"><i class="icon fas fa-exchange-alt"></i>All Transfers</h1>
      <table class="transfers">
         <tr>
           <th>Collector</th>
           <th>Sender</th>
           <th>Description</th>
           <th>Amount</th>
         </tr>
         <tr>
           <td>John</td>
           <td>Bank</td>
           <td>Send money to his bank</td>
           <td>1000,00 €</td>
         </tr>
      </table>
    </div>
  </div>

</body>
</html>
